.tasksList {
    max-width: 1500px;
    background-color: white;
    width: 100%;
    padding: 40px 0 20px 0;
    margin-top: 2px;
}

.list__item {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
    justify-items: center;
    margin: 0 10px;
    list-style: none;
    border-bottom: solid 1px #dddada;
}

.list__item--done {
    text-decoration: line-through;
}

.listText {
    display: grid;
    justify-self: start;
}

.list__item--hidden {
    display: none;
}

.listButton {
    width: 30px;
    height: 30px;
    color: white;
    background-color: rgb(55, 196, 0);
    transition: 0.5s;
    border: none;
    text-decoration: none;
}

.listButton:hover {
    background-color: rgb(62, 219, 0) ;
}

.listButton:active {
    border: solid 2px black;
}

.listButton--remove {
    width: 30px;
    height: 30px;
    color: rgb(240, 239, 239);
    background-color: rgb(255, 34, 34);
    transition: 0.5s;
    border: none;
}

.listButton--remove:hover {
    background-color: rgb(255, 71, 71);

}

.listButton--remove:active {
    border: solid 2px black;
}

.listButton--remove:hover {
    color: white;
}