html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

body {
  background-color: #dddada;
  font-family: "Montserrat", sans-serif;
  word-break: break-word;
}